
.gamePlay-title {
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  margin: 15px;
}

.gamePlay-titleBig {
  font-weight: normal;
  font-family: Bungee, cursive;
}

.gamePlay-giveUpButton {
  background-color: #b00000;
  color: white;
  border: 3px solid white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  line-height: 25px;
  margin: 5px 10px 15px 10px;
  -webkit-transition-duration: 0.2s; /* Safari */
  transition-duration: 0.2s;
  cursor: pointer;
  border-radius: 3px;
  font-family: Bungee, cursive;
  box-shadow: 0 2px 16px 0 rgba(0,0,0,0.2), 0 2px 20px 0 rgba(0,0,0,0.19);
}

.gamePlay-giveUpButton:hover {
    background-color: white;
    color: #b00000;
}
